@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf");
}
@theme {
  --color-light-10: #ffffff1a;
  --color-light-100: #ffffff;
  --color-light-20: #ffffff33;
  --color-light-30: #ffffff4d;
  --color-light-40: #ffffff66;
  --color-light-80: #ffffffcc;
  --color-low-100: #78ff97;
  --color-prm-100: #504ca6;
  --color-sc-100: #091028;
  --color-d-1: #21273d;
  --color-d-2: #3a4053;
  --color-d-3: #051632;
  --color-dark: #02071d;
  --default-font-family: Roboto;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
